@{
    ViewData["Title"] = "Home Page";
}

 
<main role="main">   
    <section class="container">
        <div class="hero-image"><img class="hero img-fluid"   src="img/Care_Inset.jpg"></div>
        <div class="title-block">
            <h1 class="page-title">Welcome to our Animal second home </h1>
        </div>

        <article class="single" id="post-236">
            <div class="post-details single">
                <h1>
                    <a href="#" title="Taking Care of Animals: Pro Tips for Pet Owners">We taking Care of Animals </a>
                </h1>
                <hr>
                <div>
                    <h2>Our Service</h2>
                    <p>Animal DayCare</p>
                    <p>Cut and Trim</p>
                    <p>Wash Animal</p>
                    <p>Cut nails</p>


                </div>

                <h2>We provide the best animal care</h2>
                @*<div class="cat-and-date">
            <ul class="post-categories">
                <li><a href="#" rel="tag">Animal Care</a></li>
            </ul> <span class="date single">16.11.2021</span>
        </div>*@
        <p>
             
            <br>
            <em>We  focusing on the most common household pets. Whether you’re becoming a first-time pet owner or have had multiple animal companions, we can help your new family member feel right like at home.</em> 
            <br>
          
        </p>

        

            </div>

        </article>
    </section>
</main>